ipython
ipywidgets
jupyterlab
loguru
matplotlib
seaborn
plotly
mkdocs
notebook
numpy
pandas
pip
pytest
python-dotenv
ruff
scikit-learn
imbalanced-learn
xgboost
lightgbm
nltk
wordcloud
gensim
spacy
optuna
tqdm
typer
mlflow
dagshub
-e .
